<div class="chart-container">

<button (click)="exportExcel()" class="btn-sm" style="float: right;  background-color: #2ad9c2; color: #041d59; border: none;">Export to Excel</button>

<ngx-charts-advanced-pie-chart
 [results]="saleData" 
 [gradient]="true"
  [legend]="true"
    [legendTitle]="'Product Sale Report'" 
    [view]="[600,200]" 
    [labels]="true">
</ngx-charts-advanced-pie-chart>
</div>

<table id="excel-table" hidden>
  <tr *ngFor="let item of saleData">
    <td>{{item.name}}</td>
    <td>{{item.value}}</td>
  </tr>
</table>

