/* Please ❤ this if you like it! */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	color: #c4c3ca;
}
a {
	cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #000;
}
a:hover {
	text-decoration: none;
  color: #2ad9c2;
} 
.cursor-pointer {
  cursor: pointer;
}

::-webkit-input-placeholder {color:#414141;}
:-moz-placeholder {color:#414141;}
::-moz-placeholder {color:#414141;}
:-ms-input-placeholder {color:#414141;}
input[type="text"],
input[type="email"],
input[type="password"]{color: #414141;width: 100%;position: relative;display: inline-block;border: 1px solid #d4d4d4;outline: none;border-radius: 0px;padding: 6px 10px 8px 10px;font-size: 14px;background-color: #FFF;-webkit-transition: all 0.5s ease-out;-moz-transition: all 0.5s ease-out;-ms-transition: all 0.5s ease-out;-o-transition: all 0.5s ease-out;transition: all 0.5s ease-out;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
{-webkit-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-out; -moz-transition:all 0.5s ease-out; -ms-transition:all 0.5s ease-out; -o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
textarea{max-width:100%;height:80px !important;resize: none}
.btn-theme {
  box-shadow: none;
  border: 1px solid #03557a;
  background: #03557a;
  color: #fff;
  font-size: 16px;
}
.btn-theme:hover {
  background: #fff;
  color: #03557a;
}

.auth-section {
  height: 100%;
  background-color: #e9ecef;
}
.auth-section .auth-section-inner {
  max-width: 400px;
}
.auth-section .auth-section-inner small {
  font-size: 11px;
}
.auth-section .auth-section-inner .card-block {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ddd;
}

.mail-success-inner {
  max-width: 700px;
  box-shadow: 0px 0px 10px #03557a;
  padding: 40px;
  width: 100%;
  border-radius: 5px;
}
.mail-success-inner h1 {
  color: #03557a;
}
.mail-success-inner h1 i {
  font-size: 100px;
  color: #03557a;
}
.mail-success-inner h1 span {
  font-size: 40px;
  font-family: cursive;
  color: #03557a;
  margin-bottom: 25px;
}
.mail-success-inner p {
  font-size: 20px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .mail-success-inner h1 i {
    font-size: 75px;
  }
  .mail-success-inner h1 span {
    font-size: 30px;
  }
  .mail-success-inner p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 575px) {
  .mail-success-inner {
    padding: 25px 15px;
  }
  .mail-success-inner h1 {
    margin-bottom: 10px;
  }
  .mail-success-inner h1 i {
    font-size: 60px;
  }
  .mail-success-inner h1 span {
    font-size: 19px;
  }
  .mail-success-inner p {
    font-size: 16px;
  }
}